<ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segmentPage">
      <ion-segment-button value="map">
        Map 
        <!-- <ion-icon name="navigate"></ion-icon> -->
      </ion-segment-button>
      <ion-segment-button value="dashboard">
        Dashboard 
        <!-- <ion-icon name="apps"></ion-icon>  -->
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="segmentPage" class="home common-bg">
  <!-- Map Segment -->
  <div *ngSwitchCase="'map'" id="mapContainer" #map style="width: 100%; height: 100vh;"></div>
  <!-- Dashboard Segment -->
  <section *ngSwitchCase="'dashboard'">
    <!-- <div class="header-dashboard rlt">
      <div class="align-bottom" padding>
        <div class="pull-left">
          <h2 ion-text color="white">
            <ion-icon name="ios-navigate-outline"></ion-icon>
            Exciting Bicol
          </h2>
          <span ion-text color="dark" class="sub-text"> Your <strong>Wednesday</strong> Recommendations </span>
        </div>
        <div class="pull-right">
          <h1>
            <ion-icon name="ios-sunny-outline" color="light"></ion-icon>
          </h1>
          <h6 ion-text no-margin color="light">
            35<sup>o</sup>C
          </h6> 
        </div>
        <div class="clear"></div>
      </div>
    </div> -->

     <!-- Top Destinations -->
    <div class="block" margin-top>
        <div class="block-title" padding-left padding-right>
          <div class="pull-left">
            <ion-icon name="pin" color="favorite"></ion-icon>
            <span ion-text color="dark" style="font-size:20px;"> Top Destinations </span>
          </div>
          <!-- 
            <div class="pull-right">
              <span ion-text color="restaurant-color">MORE &gt;&gt;</span>
            </div> 
          -->
          <div class="clear"></div>
      </div>
        
      <div class="card-background-page top-items">
        <ion-card class="card round" *ngFor="let item of item.topItems">
          <img [src]="item.thumb" class="img-thumb"/>
          <div class="card-title">{{ item.name }}</div>
          <div class="card-subtitle">{{ item.listings }} Listings</div> 
        </ion-card>

      </div>
    </div>
      <!-- End of Top Destinations -->

    <!-- Recent Views -->
    <div class="block" margin-top>
      <div class="block-title" padding-left padding-right>
        <div class="pull-left">
          <ion-icon name="time" color="fb-color"></ion-icon>
          <span ion-text color="dark" style="font-size:20px;"> Recent Views </span>
        </div>
        <div class="clear"></div>
      </div>
      <div class="items" padding-left padding-bottom>
        <!-- 
          <div class="card round" *ngFor="let item of storageProvider.userViewItems" (click)="viewRecent(item)">
            <div class="card-header" [ngStyle]="{'background-image': 'url(' + item.thumb + ')'}"></div>
            <div class="padding-xs">
              <h5>{{ item.name }}</h5>
              <div class="rating">
                <ion-icon name="md-star" color="restaurant-color" *ngFor="let star of range(item.rating)"></ion-icon>
                <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - item.rating)"></ion-icon>
                <span ion-text color="gray">{{ item.reviews.length }} reviews</span>
              </div>
              <span ion-text color="gray">Recommended for:</span>
              <div>
                <div class="pull-left">
                  <span ion-text color="restaurant-color">{{ item.scores[0].name }},</span>
                  <span ion-text color="restaurant-color">{{ item.scores[1].name }}</span>
                </div>
                <div class="pull-right">
                  {{ item.location.distance }} km
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </div> 
        -->
      
        <div class="card round">
          <div class="card-header" [ngStyle]="{'background-image': 'url(http://devfloat.net/wp-content/uploads/2015/10/gooey-preloader.jpg)'}"></div>
            <div class="padding-xs">
              <h5>Place Title</h5>
              <div class="rating">
                <!-- 
                  <ion-icon name="md-star" color="restaurant-color" *ngFor="let star of range(item.rating)"></ion-icon>
                  <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - item.rating)"></ion-icon>
                  <span ion-text color="gray">{{ item.reviews.length }} reviews</span>
                -->
                <ion-icon name="md-star" color="restaurant-color" *ngFor="let star of range(3)"></ion-icon>
                <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - 3)"></ion-icon>
                <span ion-text color="gray">3.0</span>
              </div>
              <span ion-text color="gray">Recommended for:</span>  
              <ion-badge color="primary">Travel</ion-badge> 
              <ion-badge color="secondary">Family</ion-badge>
              <p ion-text color="light-blue"><ion-icon name="pin"></ion-icon> Legazpi City, Philippines</p>
            </div>
        </div> 
      </div>
    </div>
    <!-- End Recent Views -->

    <!-- Hotels -->
    <div class="block" margin-top>
      <div class="block-title" padding-left padding-right>
        <div class="pull-left">
          <ion-icon name="home" color="hotel-color"></ion-icon>
          <span ion-text color="dark" style="font-size:20px;"> Hotels </span>
        </div>
        <span class="pull-right" color="secondary" ion-text (click)="viewAll('hotels')">See More >></span>
        <div class="clear"></div>
      </div>
      <div class="items" padding-left padding-bottom> 
        <div class="card round" *ngFor="let item of item.hotels" (click)="viewItem(item)">
          <div class="card-header" [ngStyle]="{'background-image': 'url('+ item.thumb +')'}"></div>
            <div class="padding-xs">
              <h5>
                {{ item.name }} <span class="pull-right" color="danger" ion-text>₱ {{ item.price| number:'.2-2' }}</span>
              </h5>
              <div class="rating">
                <ion-icon name="md-star" color="restaurant-color" *ngFor="let star of range(item.stars)"></ion-icon>
                <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - item.stars)" ></ion-icon>
                <span ion-text color="gray">{{ item.rating }}</span>
              </div>
              <span ion-text color="gray">Recommended for:</span>
              <ion-badge color="primary"> {{ item.tags }} </ion-badge> 
              <p ion-text color="light-blue"><ion-icon name="pin"></ion-icon> {{ item.address }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Hotels -->    

    <!-- Restaurants -->
    <div class="block" margin-top>
      <div class="block-title" padding-left padding-right>
        <div class="pull-left">
          <ion-icon name="restaurant" color="restaurant-color"></ion-icon>
          <span ion-text color="dark" style="font-size:20px;"> Restaurants </span>
        </div>
        <span class="pull-right" color="secondary" ion-text (click)="viewAll('restaurants')">See More >></span>
        <div class="clear"></div>
      </div>
      <div class="items" padding-left padding-bottom> 
        <div class="card round" *ngFor="let item of item.restaurants" (click)="viewItem(item)">
          <div class="card-header" [ngStyle]="{'background-image': 'url('+ item.thumb +')'}"></div>
            <div class="padding-xs">
              <h5>{{ item.name }}</h5>
              <div class="rating">
                <ion-icon name="md-star" color="restaurant-color" *ngFor="let star of range(item.stars)"></ion-icon>
                <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - item.stars)" ></ion-icon>
                <span ion-text color="gray">{{ item.rating }}</span>
              </div>
              <span ion-text color="gray">Recommended for:</span>  
              <ion-badge color="primary"> {{ item.tags }} </ion-badge> 
              <p ion-text color="light-blue"><ion-icon name="pin"></ion-icon> {{ item.address }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Restaurants --> 

    <!-- Things to do -->
    <div class="block" margin-top>
      <div class="block-title" padding-left padding-right>
        <div class="pull-left">
          <ion-icon name="walk" color="attraction-color"></ion-icon>
          <span ion-text color="dark" style="font-size:20px;"> Things to do </span>
        </div>
        <span class="pull-right" color="secondary" ion-text (click)="viewAll('attractions')">See More >></span>
        <div class="clear"></div>
      </div>
      <div class="items" padding-left padding-bottom> 
        <div class="card round" *ngFor="let item of item.attractions" (click)="viewItem(item)">
            <div class="card-header" [ngStyle]="{'background-image': 'url('+ item.thumb +')'}"></div>
              <div class="padding-xs">
                <h5>
                  {{ item.name }} <span class="pull-right" color="danger" ion-text>₱ {{ item.price| number:'.2-2' }}</span>
                </h5>
                <div class="rating">
                  <ion-icon name="md-star" color="restaurant-color" *ngFor="let star of range(item.stars)"></ion-icon>
                  <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - item.stars)" ></ion-icon>
                  <span ion-text color="gray">{{ item.rating }}</span>
                </div>
                <span ion-text color="gray">Recommended for:</span>
                <ion-badge color="primary"> {{ item.tags }} </ion-badge> 
                <p ion-text color="light-blue"><ion-icon name="pin"></ion-icon> {{ item.address }}</p>
            </div>
          </div>
      </div>
    </div>
    <!-- End Things to do -->    
  
    <!-- Night Life -->
    <div class="block" margin-top>
        <div class="block-title" padding-left padding-right>
          <div class="pull-left">
            <ion-icon name="moon"></ion-icon>
            <span ion-text color="dark" style="font-size:20px;"> Night Life </span>
          </div>
          <span class="pull-right" color="secondary" ion-text (click)="viewAll('nightLife','night life')">See More >></span>
          <div class="clear"></div>
        </div>
        <div class="items" padding-left padding-bottom> 
          <div class="card round" *ngFor="let item of item.nightLife" (click)="viewItem(item)">
            <div class="card-header" [ngStyle]="{'background-image': 'url('+ item.thumb +')'}"></div>
              <div class="padding-xs">
                <h5>
                  {{ item.name }} <span class="pull-right" color="danger" ion-text>₱ {{ item.price| number:'.2-2' }}</span>
                </h5>
                <div class="rating">
                  <ion-icon name="md-star" color="restaurant-color" *ngFor="let star of range(item.stars)"></ion-icon>
                  <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - item.stars)" ></ion-icon>
                  <span ion-text color="gray">{{ item.rating }}</span>
                </div>
                <span ion-text color="gray">Recommended for:</span>
                <ion-badge color="primary"> {{ item.tags }} </ion-badge> 
                <p ion-text color="light-blue"><ion-icon name="pin"></ion-icon> {{ item.address }}</p>
            </div>
          </div>
        </div>
    </div>
    <!-- End Night Life -->        

    <!-- Historical Places -->
    <div class="block" margin-top>
        <div class="block-title" padding-left padding-right>
          <div class="pull-left">
            <ion-icon name="information-circle" color="light-blue"></ion-icon>
            <span ion-text color="dark" style="font-size:20px;"> Historical Places </span>
          </div>
          <span class="pull-right" color="secondary" ion-text (click)="viewAll('historicalPlaces', 'historical places')">See More >></span>
          <div class="clear"></div>
        </div>
        <div class="items" padding-left padding-bottom> 
          <div class="card round" *ngFor="let item of item.historicalPlaces" (click)="viewItem(item)">
            <div class="card-header" [ngStyle]="{'background-image': 'url('+ item.thumb +')'}"></div>
              <div class="padding-xs">
                <h5>
                  {{ item.name }} <span class="pull-right" color="danger" ion-text>₱ {{ item.price| number:'.2-2' }}</span>
                </h5>
                <div class="rating">
                  <ion-icon name="md-star" color="restaurant-color" *ngFor="let star of range(item.stars)"></ion-icon>
                  <ion-icon name="md-star" color="gray" *ngFor="let star of range(5 - item.stars)" ></ion-icon>
                  <span ion-text color="gray">{{ item.rating }}</span>
                </div>
                <span ion-text color="gray">Recommended for:</span>
                <ion-badge color="primary"> {{ item.tags }} </ion-badge> 
                <p ion-text color="light-blue"><ion-icon name="pin"></ion-icon> {{ item.address }}</p>
            </div>
          </div>
        </div>
    </div>
    <!-- Historical Places -->    
     
    <!-- Banner -->
    <div padding>
      <div class="card round banner-bg">
        <div class="card-header">
          <div class="pull-right"> 
            <button ion-button icon-only clear color="white">
              <ion-icon name="close"></ion-icon>
            </button>
          </div>
        </div>
        <ion-card-content>
            <h5> A sample banner that you can use to display information </h5>
        </ion-card-content>
      </div>
    </div>
    <!-- End Banner -->
  </section>
</ion-content>
